<a href="https://colab.research.google.com/github/Yohiv9/student-management-system/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Add Two Numbers

In [1]:
a = 10
b = 20
print("Sum =", a + b)

Sum = 30

2.Add Two Numbers

In [2]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum =", a + b)

Enter first number: 5
Enter second number: 9
Sum = 14

3. Find Even or Odd

In [3]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter a number: 7
Odd Number

4. Find Largest of Two Numbers

In [4]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("Largest:", a)
else:
    print("Largest:", b)

Enter first number: 7
Enter second number: 5
Largest: 7

5. Check Positive or Negative

In [5]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 5
Positive

6. Multiplication Table

In [6]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

7. Sum of First N Natural Numbers

In [7]:
n = int(input("Enter n: "))
sum = 0

for i in range(1, n + 1):
    sum += i

print("Sum =", sum)

Enter n: 4
Sum = 10

8. Factorial of a Number

In [8]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial =", fact)

Enter a number: 9
Factorial = 362880

9. Reverse a Number

In [9]:
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    rev = rev * 10 + num % 10
    num //= 10

print("Reversed Number =", rev)

Enter a number: 12
Reversed Number = 21

10. Check Palindrome Number

In [10]:
num = int(input("Enter a number: "))
temp = num
rev = 0

while num > 0:
    rev = rev * 10 + num % 10
    num //= 10

if temp == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a number: 13
Not Palindrome

11. Count Digits in a Number

In [11]:
num = int(input("Enter a number: "))
count = 0

while num > 0:
    count += 1
    num //= 10

print("Number of digits:", count)

Enter a number: 23
Number of digits: 2

12. Simple Calculator

In [12]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number: 35
Enter second number: 47
Addition: 82
Subtraction: -12
Multiplication: 1645
Division: 0.7446808510638298

13. Find Sum of Digits

In [14]:
num = int(input("Enter a number: "))
sum_digits = 0

while num > 0:
    sum_digits += num % 10
    num //= 10

print("Sum of digits:", sum_digits)

Enter a number: 45
Sum of digits: 9

14. Check Leap Year

In [16]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year: 21
Not a Leap Year

15. Check Prime Number

In [17]:
num = int(input("Enter a number: "))
flag = 0

if num <= 1:
    print("Not a Prime Number")
else:
    for i in range(2, num):
        if num % i == 0:
            flag = 1
            break

    if flag == 0:
        print("Prime Number")
    else:
        print("Not a Prime Number")

Enter a number: 56
Not a Prime Number

1. Hard Coding Variable

In [18]:
# 1. Hard Coding Variable

name = "yohv"
branch = "CSE"
semester = 6
cgpa = 8.5

print("Name:", name)
print("Branch:", branch)
print("Semester:", semester)
print("CGPA:", cgpa)

Name: yohv
Branch: CSE
Semester: 6
CGPA: 8.5

2. Keyboard Input

In [20]:

name = input("Enter your name: ")
age = input("Enter your age: ")
course = input("Enter your course: ")

print("Name:", name)
print("Age:", age)
print("Course:", course)

Enter your name: yohiv
Enter your age: 21
Enter your course: cse
Name: yohiv
Age: 21
Course: cse